// _header.scss
.site-header {
	background: $drkGray;
	border: 1px solid transparent;
	text-align: center;

	.site-branding {
		margin: 0;
	}
	
	.site-title {
	color: $ltGray + 50;
	}
}

.header-nav {
	a {
		color: $ltGray + 50;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}