// _layout.scss

$susy: (
  columns: 12,
  gutters: 1/6,
  global-box-sizing: border-box
 );

.wrap {
	@include container(70%);
	// background-color: rgb(220, 220, 220);
	padding: 0;
}

.features{
	@include clearfix;
}

.features .feature {
	text-align: center;

	@include susy-breakpoint($small) {

	}

	@include susy-breakpoint($medium $large - 1) {
		@include span(6);

		&:nth-of-type(even) {
			@include last;
		}
	}

	@include susy-breakpoint($large) {

		@include span(3);

		&:last-child {
			@include last;
		}
	}
}

.content {
	@include susy-breakpoint($large) {
		@include span(8);
	}
}

.sidebar {
	@include susy-breakpoint($large) {
		@include span(4);
		@include last;
	}
}

.site-branding {
	@include susy-breakpoint($medium) {
		@include span(3);
	}
}

.header-nav {
	padding: 20px 0px 20px 0px;

	@include susy-breakpoint($medium) {
		@include span(9 last);
		//padding-top: 20px;
	}
}

.testimonial {
	@include susy-breakpoint($large) {
		@include span(6);
		@include push(3);
		@include post(3);
	}
}