// _variables.scss
/* Coolors Exported Palette - coolors.co/8f9e8f-6d6868-f7e8be-d3ede9-b6e2b1 */

/* RGB */
$drkGreen: rgba(133, 158, 143, 1);
$ltGreen: rgba(182, 226, 177, 1);
$drkLemon: rgba(247, 232, 190, 1);
$ltLemon: rgba(247, 232, 225, 1);
$drkBlue: rgba(120, 237, 233, 1);
$ltBlue: rgba(211, 237, 233, 1);
$gray: rgba(109, 104, 104, 1);
